@charset "utf-8";

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*common*/
body {
  font-size: 16px;font-family: 'Noto Sans','Noto Sans KR', sans-serif;color: #333;
}
.container {width: 1600px;margin: auto;position: relative;}
.blind {display: block;width: 1px;height: 1px;overflow: hidden;}
.clrfix::after {content: '';display: block;clear: both;}

/*Header*/

/*skip_nav*/
.skip_nav a {
  position: fixed;left: 50%;top: -50px;transform: translateX(-50%);
  background: #000;font-size: 20px;color: #FFF;padding: 15px 25px;
}
.skip_nav a:focus {top: 0;}

/*h1로고*/
header {
  position: fixed;left: 0;right: 0;top: 0;z-index: 990;
  border: 1px solid #d3d3d3;height: 60px;position: relative;z-index: 1;
}
header.on {background: #fff;color: #333;}
header.on h1 a  {background: url(../img/logo_enterprise_b.png);}
header h1 {position: absolute;left: 0;top: 20px;}
header h1 a {display: block;width: 140px;height: 20px;background: url(../img/logo_enterprise_b.png);background-size: 100%;}
/*gnb*/
header nav {text-align: center;}
header nav #gnb {display: inline-block;}
header nav #gnb>li {
  position: relative;display: inline-block;vertical-align: top;
}
header nav #gnb>li>a {display: block;line-height: 60px;margin: 0 40px;}
header nav #gnb>li ul {
  position: absolute;left: 0;right: 0;top: 60px;padding: 10px 0;}
header nav #gnb>li ul li {line-height: 2em;}
header nav #gnb::after {
  content: "";display: block;height: 200px;
  left: 0;right: 0;top: 60px;background: #fff;
  }

header #gnb>li>a::after {
  content: '';display: block;width: 0;height: 2px;background: #31408d;margin-top: -1px;
}
header #gnb>li>a:hover::after {width: auto;}


header #gnb .recruit_link {position: absolute;right: 0;top: 0;}
header #gnb .recruit_link::after {
  content: '';display: block;width: 15px;height: 15px;background: url(../img/ico_pc_210115.png) -30px -30px;
  background-size: 120px auto;
  position: absolute;right: 0;top: 50%;transform: translatey(-50%);
}
header #gnb .recruit_link>a {margin: 0 25px !important;}



/*footer*/
footer {padding: 30px 0;border-top: 1px solid #dadada;}
footer strong {
  float: left;display: block;width: 126px;height: 18px;
  margin-right: 24px;margin-top: 8px;
  background: url(../img/logo_enterprise_b.png);
  background-size: cover;
}
footer .footer_menu {float: left;}
footer .footer_menu li {float: left;font-size: 12px;line-height: 34px;}
footer .footer_menu li:after {
  content:"";display: block;float: right;width: 1px;height: 10px;margin: 12px;background: silver;
}
footer .footer_menu li:last-child::after {display: none;}
/*vertical-align: 글자와 한 줄에 표시되는 인라인 블럭 요소에게 사용 
-일반적으로 인라인 블럭요소는 글자보다 높이가 높은 경우
-디폴트는 baseline(글자의)인 속성값으로 정렬 됨
-높이가 다른 인라인 블럭요소들을 위쪽 기준으로 바꾸러면 vertical-aling:top

*float을 사용한 높이가 다른 블럭요소는 위쪽을 기준으로 한 줄 정렬
*/

/*footer family_site_box*/
footer .family_site_box {float: right;position: relative;font-size: 13px;border: 1px solid #dadada;}
footer .family_site_box button/*패딩넣어도 박스사이즈가가변하지않은 특히한태그*/ {
  width: 134px;height: 32px;text-align: left;padding: 0 15px;position: relative;
}
footer .family_site_box button::after {
  content: '';display: block;float: right;width: 9px;height: 9px;background: url(../img/ico_pc_210115.png) -30px -116px;position: absolute; right: 15px;top: 50%; transform: translateY(-50%);background-size: 120px auto;
}
footer .family_site_box button:hover::after{ background-position-x: -40px }
footer .family_site_box button:active::after{ transform: translateY(-50%) rotate(45deg);
/*:active 상황에서 사용한 transform 속성에 rotate() 값만 사용하면 세로 정렬때문에 사용한 translateY()가 생략이 되어버림
:actice 상황에 translate() 값을 다시 작성하되, 위치 잡고 회전해야 하기 때문에 순서에 유념할 것
*/
}
footer ul.family_site_list {
  width: 480px;
  position: absolute;
  right: 0; bottom:40px;
  border: 1px solid #dadada;
  background: #FFF;
}
footer ul.family_site_list>li {
  float: left;width:calc(100% / 3);/*height: 112px;border-right: 1px solid orange;
  hight값이 정확하지 않고, 내용이 변경되면 숫자 값을 다시 계산하는 불편함이 있다*/
  box-sizing: border-box;margin: 25px 0;
}
footer ul.family_site_list>li+li::after {
  /*li+li ==>첫째를 제외한 모든 li를 뜻함*/
  content: "";display: block;width: 1px;background: green;
  position: absolute;top: 25px;bottom: 25px;
  /*absolute라 하더라도 좌표값을 설정하지 않으면 static한 위치에 포지션 됨
  세로 방향 좌표인 top,bottom은  position이 사용된 조부모 ul 기준으로 배치가 되지만,
  가로 (좌우)좌표는 선언하지 않아서 직접 부모인 li기준에 배치됨 
  부모의 패딩 안쪽 컨텐츠 영역에서 시작됨(static한 위치)
  2뎁스 ul과 span이 구분선이 떨어지려면 span과 ul에게 각각 여백을 선언해야함
  */
}


footer ul.family_site_list span {font-weight: 600;padding: 0 20px;}
footer ul.family_site_list ul {padding: 0 20px;}
footer ul.family_site_list ul li {color: #666;margin-top: 20px;}

/*footer sns_link*/
footer ul.sns_link {float: right;margin-right: 30px;}
footer ul.sns_link li {float: left;margin-left: 20px;}
footer ul.sns_link li a {
  display: block;width: 20px ;height: 20px;margin-top: 7px;/*사이트박스 높이값 32에서 a의 높이값을 빼고 나누기 2를 하면 됨*/
  background-image: url(../img/ico_pc_210115.png);
  background-size: 120px auto; /*240,400 / %값은 사용이 안됨백그라운드 이미지의 전체가 줄어들기때문에*/
  /* background-position: -196px -265px; */
}
  /*
  $$background 속성은 축약형으로 배경과 관련된 모든 속성을 사용한다는 뜻
  -background-color: transparency;
  -background-repeat: repeat;
  -background-image: none;
  -background-position: 0 0;
  -background-attachment: scroll;
  -background-size: 100%;

  ex)background: red; =>
    -color: red;
    -repeat: repeat;
    -image: none;
    -position: 0 0;
    -attachment: scroll;
    -size: 100%;
  red컬러로 변경, 이미지는 변경 안함, 리피트 속성 디폴트, 포지션 속성 디폴트 ,....

  ****스프라이트 사용할 때 여러 선택자로 포지션을 나눠야 하는 경우 축약형 사용 금지
  */
  footer ul.sns_link li:nth-child(1) a {
  background-position: -26px -132px;
  } /*a는 형제가 없기에 형제가 있는 li에게 순서를 매기고 기준이 되는 대상이 a이기 때문에 그 후에 a를 넣는다 */
  footer ul.sns_link li:nth-child(2) a {
    background-position: -2px -132px;
  }
  footer ul.sns_link li:nth-child(3) a {
    background-position: -50px -132px;
  }
  footer ul.sns_link li:nth-child(4) a {
    width: 21px; /*원래 42이지만 이미지가이드와 원본에 비해 절반이 작아지니 width값도 절반이 됨*/
    background-position: -74px -132px; /*다른 아이콘과 같은 하이트값을 써야 나중에 계산하기 편함, 어차피 중앙정렬되어있기때문에 위스값만 늘리면 됨*/
  }
  footer ul.sns_link li:nth-child(5) a {  background-position: -98px -132px;}

  /* footer ul.sns_link li:nth-child(1) a:hover {
    background-positionY: -26px -156px;
  }
  footer ul.sns_link li:nth-child(2) a:hover {
    background-position: -2px -156px;
  }
  footer ul.sns_link li:nth-child(3) a:hover {
    background-position: -51px -156px;
  }
  footer ul.sns_link li:nth-child(4) a:hover {
    background-position: -74px -156px;
  }
  footer ul.sns_link li:nth-child(5) a:hover {
    background-position: -98px -156px;
  } */
footer ul.sns_link li a:hover{background-position-y: -156px;}/*호버되기전에 a에서 y축만 바뀌면 색이 바뀌기 때문에 y전체를 줄여버리면 됨*/


/*main*/
main {margin-bottom: 150px;}

/*main- visual_wrap*/
main .main_visual_wrap {
  height: 760px;overflow: hidden;position: relative;
}
main .main_visual_wrap video {width: 100%;min-width: 1600px; overflow: hidden;}
main .main_visual_wrap ul {}
main .main_visual_wrap li {
  display: none;position: absolute;left: 50%;top: 50%;width: 1600px;transform: translate(-800px, -50%);/*컨테이어 1600의 절반이 800 . 거기서 왼쪽으로 800으로 가야 컨테이너 기준에 맡게 이동이 되며 전체 창의 위치를 옮겨도 저절로 사이즈에 맞춰짐*/
  color: #FFF;
}

main .main_visual_wrap li:nth-child(1) {display: block;}
main .main_visual_wrap li span {display: block;font-size: 36px;}
main .main_visual_wrap li strong {display: block;font-size: 200px;font-weight: 700;white-space: nowrap;margin-left: -10px;}
main .main_visual_wrap .img_txt img {width: 1600px;}
main .main_visual_wrap .img_logo {text-align: center;}
main .main_visual_wrap .img_logo img {height: 400px;}

/*main - contents_wrap */
main .contents_wrap {padding-top: 56px;}
main .contents_wrap section {
  float: left;width: 506px;margin-right: 40px;
}
main .contents_wrap section:nth-child(3n) {margin-right: 0;}
main .contents_wrap section a {display: block;}

main .contents_wrap .content_1 h2 {
  margin-bottom: 14px;font-size: 14px;color: #777;font-weight: 800;text-transform: uppercase;
}
main .contents_wrap .content_1 .news strong {display: block;margin-bottom: 8px;}
main .contents_wrap .content_1 .news strong , /*그룹선택자라 , 사용*/
main .contents_wrap .content_1 .partner  p {
  font-size: 20px;line-height: 1.6em;font-weight: 600;
}
main .contents_wrap .content_1 .news p {font-size: 15px;line-height: 1.7em;color:#777;}

main .contents_wrap .company p {/*float: left;*/margin-bottom: 24px;
}
main .contents_wrap .company em {display: block;font-size: 30px;font-weight: 800;margin-bottom: 8px;}
main .contents_wrap .company span {display: block;font-size: 14px;color: #555;font-weight: 500;}
main .contents_wrap .company .space {display: inline-block;width: 40px;}

main .contents_wrap .content_2 section{margin-top: 50px;}
main .contents_wrap .content_2 img {width: 100%;margin-bottom: 16px;}
main .contents_wrap .content_2 h2 {
  font-size: 22px;font-weight: 700;line-height: 2.4em;
}
main .contents_wrap .content_2 p {font-size: 15px;line-height: 1.6em;color:#777;}